.tooltip {
    @apply relative;
}

.tooltip-wrapper {
    @apply absolute flex w-full justify-center bg-primary/30;
}

.tooltip-wrapper {
    &.top {
        @apply bottom-full mb-2;
    }
}

.tooltip-content {
    @apply absolute w-fit translate-x-[-50%] whitespace-nowrap rounded bg-secondary px-4 py-1 text-center;
}

.tooltip-content::after {
    content: "";
}

.tooltip-content {
    &.top {
        @apply bottom-full;
        filter: drop-shadow(0 4px 6px rgb(0 0 0/0.1))
            drop-shadow(0 -1px 6px rgb(0 0 0/0.1));
    }

    &.top::after {
        @apply absolute left-[50%] top-full -ml-2;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
    }
}
