@import "/src/components/button/style-button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-bg-default text-text-default;
    font-family: "Fredoka", "Arial", sans-serif;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.modal-is-open {
    overflow: hidden;
}
