@import "./button/style-button.css";
@import "./tooltip/style-tooltip.css";
@import "./menu/style-menu.css";
@import "./icon-button/style-icon-button.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-container text-black;
    font-family: "Fredoka", "Arial", sans-serif;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.modal-is-open {
    overflow: hidden;
}
